@charset "utf-8";
/* CSS Document */

/*==================================supermaket==========================================*/
#supermaket{ width:100%;  float:left;}
#supermaket .supermaket{ width:1200px;  margin:0 auto;}

/*==================================supermaket-Search==========================================*/
.slittle{ width:1200px; height:40px; float:left; margin-top:30px;}
.route{ float:left; width:808px; height:40px; float:left; margin-right:40px; }
.route a { font-size:14px;  color:#000; max-width:400px; height:20px; float:left;margin-top:5px;text-overflow : ellipsis;white-space : nowrap;overflow : hidden; }
.route p{font-size:14px; height:20px;  color:#000; float:left; margin-left:20px; margin-right:20px; margin-top:5px;}


.search{  float:left;  margin-bottom:9px;  }
.search .select dt{ 
width:109px !important; 
height:30px !important; 
padding:0px; margin:0px !important; 
float:left; 
border:1px solid #e7e7e8 !important; 
font-size:14px;
background-color:#f2f2f2;
border-top-left-radius:2px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:2px; 
line-height: 30px;
text-align: center;
}
.search .select dd {position:absolute;left:0;top:29px;border:1px solid #dededf;background:#fff;display:none; }
.search .select dd ul{width:110px;overflow:auto; float: left; background-color: #ffffff;}
.search .select dd ul li {width:110px !important;  line-height:30px;height:30px;  color:#000000; float: left; text-align: center; font-size: 14px; margin-bottom: 0 !important; cursor: pointer; }
.search .select dd ul li:hover{ background-color: #f2f2f2;}
.search input:nth-child(2){ width:200px; height:30px;float:left;padding:0;-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.1);-moz-box-shadow:inset 0 0px 0px rgba(0,0,0,.1);box-shadow:inset 0 0px 0px rgba(0,0,0,.1); border:0px; border-top:1px solid #e7e7e8 !important; border-bottom:1px solid #e7e7e8 !important;text-indent:10px; font-size:12px ;}
.search input:nth-child(3){ width:41px; height:32px; float:left;border-top-left-radius:0px;
border-top-right-radius:2px;
border-bottom-right-radius:2px;
border-bottom-left-radius:0px; 
}

/*==================================content==========================================*/

#supermaket .supermaket .content{ width:204px;  float:left; margin-right:55px;}
#supermaket .supermaket .content p:nth-child(1){ font-size:18px; width:204px; height:40px; line-height:40px; color:#000; border-bottom:1px #000 solid;}
#supermaket .supermaket .content ul:nth-child(2){ float:left; width:204px;}
#supermaket .supermaket .content ul:nth-child(2) li{ float:left;width:204px; padding-bottom:15px; border-bottom:1px solid #dededf; }
#supermaket .supermaket .content ul:nth-child(2) li:nth-last-child(1){ float:left;width:204px; padding-bottom:75px; border:0px !important; }
#supermaket .supermaket .content ul:nth-child(2) li span:nth-child(1) { float:left; margin-top:10px;}
#supermaket .supermaket .content ul:nth-child(2) li span:nth-child(1) a{width:204px; height:40px;line-height:40px; color:#000; border-bottom:0px !important; margin-top:0px !important;}
#supermaket .supermaket .content ul:nth-child(2) li span:nth-child(2) { float:left; font-size:14px;color:#000;}
#supermaket .supermaket .content ul:nth-child(2) li span:nth-child(2) a { float:left; color:#000; font-size:14px;}
#supermaket .supermaket .content ul:nth-child(2) li span:nth-child(2) p { float:left;color:#000; font-size:14px; margin-left:5px; margin-right:5px;}
.sulli2 a { float:left; color:#000; font-size:14px; width:100%;}
/*==================================scontent==========================================*/

#supermaket .supermaket .scontent{ width:941px;  float:left;}


/*==================================introduces==========================================*/
.introduces{ width:941px;  float:left; margin-top:41px;}
.introduces .left{ float:left; width:410px;   margin-right:50px; }
.introduces .left img{ width:410px; height:410px; float:left; margin-bottom:10px;}
.introduces .left p{  width:410px; height:35px;  background-color:#666; color:#fff; text-align:center; position:absolute; font-size:18px; line-height:35px; margin-top:375px; }
.introduces .left ul{ width:410px; float:left; }
.introduces .left ul li{ width:54px; height:54px; float:left; margin-right:10px; margin-bottom:10px;border:3px solid #fff !important;}
.introduces .left ul li:nth-child(6n){margin-right:0px;}
.introduces .left ul .lion{ border:3px solid #333333 !important;}
.introduces .left ul li img{ width:100%; height:100%; float:left;}

.introduces .right{float:left; width:481px; }
.introduces .right ul{float:left; width:481px; }
.sp-biaoti { width:481px; height:30px; font-size:24px; color:#000; float:left; line-height:24px;text-overflow : ellipsis;white-space : nowrap;overflow : hidden; }
.sp-fubiao { width:481px;  font-size:14px; color:#727171; float:left; line-height:16px;overflow : hidden; margin-top:10px;}
.sp-jiage { width:481px; height:90px;overflow : hidden; background-color:#f2f7da; margin-top:15px; float:left;}
.sp-jiage  p:nth-child(1),.sp-jiage  p:nth-child(3){ font-size:14px; line-height:90px; color:#727171; float:left; height:90px; margin-left:25px;} 
.sp-jiage  p:nth-child(3){ margin-left: 8px;}
.sp-jiage  p:nth-child(2){ font-size:24px; line-height:90px; color:#000; float:left; height:90px; margin-left:0px;} 
.sp-jiage  p:nth-child(4){ font-size:14px; line-height:90px; color:#a5a5a5; float:left; height:90px; margin-left:0px;text-decoration:line-through;} 
.sp-yangse {  width:481px;  margin-top:15px; float:left;line-height:30px;  }
.sp-yangse  p{float:left; color:#727171; width:61px; font-size:14px; height:100%; }
.sp-yangse  span{ width:420px; float:left;}
.sp-yangse  span a{ float:left ;  font-size:12px !important; line-height:30px;padding:0px 10px; width:auto; background-color:#FFF; border:1px solid #dcdcdc; color:#000; margin-right:10px; margin-bottom:10px; position: relative; }
.sp-yangse  span i{ display: none;}
.ysoff { display: none; width: 100%; height: 30px; color: #fff; background-color: red; float: left; font-size: 14px; text-indent:5px; margin-bottom: 8px;}
.yson{ background-color: red; width: 10px; height: 10px; position: absolute; right: 0px; bottom: 0px; float: left;}
.yangse-off{ border: 1px solid red; }
.yangse-off p { text-indent:5px;}
.sp-peisong { width:481px; height:30px;margin-top:10px; float:left;}
.sp-peisong  p:nth-child(1){ font-size:14px; height:30px; line-height:30px; float:left;color:#727171; width:61px;}
.sp-peisong p:nth-child(3){font-size:14px; height:30px; line-height:30px; float:left;color:#727171; margin-right:10px;}
.sp-peisong select:nth-child(2),.introduces .right ul li:nth-child(5) select:nth-child(4){ font-size:14px; height:30px; line-height:30px; float:left;color:#727171; border:0px !important; margin-right:10px; background:url("../image/arrow02.png") no-repeat scroll right center transparent ;appearance:none;-moz-appearance:none;-webkit-appearance:none; padding-right:20px;  }

.sp-shuliang { width:481px; height:40px;margin-top:10px; float:left;}
.sp-shuliang  p:nth-child(1){ width:61px; height:40px; float:left; font-size:14px; line-height:40px;color:#727171;}
.sp-shuliang  a:nth-child(2),.sp-shuliang  a:nth-child(4){ width:25px; height:38px; float:left; font-size:14px; line-height:38px;color:#727171; text-align:center; border:1px solid #e8e8e8;}
.sp-shuliang input:nth-child(3){ border:0px; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; height:38px; line-height:38px; padding:0px 20px; width:60px; float:left; text-align:center; }
.sp-shuliang  p:nth-child(5){ height:40px; float:left; font-size:14px; line-height:40px;color:#727171; margin-left:10px;}

.sp-peisong .select{  float:left;  margin-bottom:9px;  margin-right:10px;}
.sp-peisong .select dt{ 
width:109px !important; 
height:30px !important; 
padding:0px; margin:0px !important; 
float:left; 
border:1px solid #e7e7e8 !important; 
font-size:12px;
background-color:#ffffff;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px; 
line-height: 30px;
text-align: center;
}
.sp-peisong .select dd {position:absolute;left:0;top:30px;border:1px solid #dededf;background:#fff;display:none; }
.sp-peisong .select dd ul{width:110px;overflow:auto; float: left; background-color: #ffffff; height: auto !important;}
.sp-peisong .select dd ul li {width:110px !important;   line-height:30px !important;height:30px !important;  color:#000000; padding-bottom: 0px !important; margin-top:0px !important;float: left; text-align: center; font-size: 12px !important; margin-bottom: 0 !important; cursor: pointer;  }
.sp-peisong .select dd ul li:hover{ background-color: #f2f2f2;}



.sp-submit { width:481px; height:40px;margin-top:24px; float:left;}
.sp-submit a:nth-child(1){ width:130px; height:38px; float:left; font-size:18px; line-height:38px; text-align:center; color:#e5511e; background-color:#ffe4d0; border:1px solid #f1cdba; border-radius:2px; margin-right:20px;}
.sp-submit a:nth-child(2){ width:180px; height:38px; float:left; font-size:18px; line-height:38px; text-align:center; color:#fff; background-color:#ff4400; border:1px solid #ff4400; border-radius:2px;}

/*==================================explain==========================================*/

.explain{ width:941px; float:left; margin-top:35px;}
.explain .content{ width:941px !important; height:55px !important; float:left; border-bottom:1px solid #666666;}
.explain .content a{ width:80px; margin-right:50px; height:52px; float:left; font-size:18px; line-height:52px; text-align:left; color:#000;}
.aon2{ border-bottom: 3px solid #adc808;}
.explain .scontent {float: left;}
.explain .scontent i { width:941px; float:left; margin-top:30px; font-style: inherit; display: none;}
.ion{ display: block !important;}
#explaintext_1{ display:block;}
#explaintext_2,#explaintext_3{ display:none;}

.introducesa { border:2px solid red !important; line-height: 28px !important; background: url(../image/ico/yson.png) no-repeat right bottom;}